---
import Layout from '../layouts/Layout.astro'
import ContentSection from '../layouts/ContentSection.astro'
import SocialMedia from '../components/SocialMedia.astro'
import TextCube from '../components/TextCube.svelte'

import PageHeader from '../components/PageHeader.svelte'
import ToolScrollbar from '../components/ToolScrollbar.svelte'
import ProjectCard from '../components/ProjectCard.svelte'
// import Scrollbar from '../components/Scrollbar.svelte'
// import BackgroundTexture from '../components/BackgroundTexture.svelte'

import { projects } from '../components/DisplayData'
---

<Layout title="Jan Kuželík | Software engineer">
  <PageHeader client:only />
  <!-- <BackgroundTexture client:load /> -->
  <main class="flex flex-col">
    <!-- <Scrollbar client:only /> -->
    <section
      id="section-hello"
      class="relative flex flex-col items-center justify-center bg-violet-600 py-24 md:flex-row"
    >
      <div class="md:h-64 rounded-l-md p-8 text-white md:w-[40vw] md:p-4 xl:w-[30vw]">
        <h1 class="text-4xl font-bold">Hi! I'm Honza!</h1>
        <div class="flex flex-row items-center gap-2 py-4 text-xl">
          <span>I'm a</span>
          <TextCube client:only />
        </div>
        <p class="text-xl">
          I like to build interesting projects using modern technologies. I mainly create web frontends, but am no stranger to games or other applications. Check out my projects below!
        </p>
      </div>
      <img
        class="z-20 w-72 rounded-md"
        src="profile.jpg"
      />
      <div class="absolute bottom-0 h-[38vh] w-full bg-amber-300 md:right-0 md:h-full md:w-[38vw]">
      </div>
    </section>

    <ContentSection
      id="section-tools"
      title="The tools I use"
      colour="light"
    >
      <ToolScrollbar client:load />
    </ContentSection>

    <ContentSection
      id="section-projects"
      title="The things I've built"
      colour="dark"
    >
      <ul
        class="flex flex-col items-center gap-16 px-8 py-10 md:gap-44 md:px-20 lg:px-40 xl:gap-16 xl:px-[8vw]"
      >
        {
          projects.map((project) => (
            <ProjectCard
              client:load
              index={projects.indexOf(project)}
              title={project.title}
              text={project.text}
              img={project.img}
              tools={project.tools}
              demoUrl={project.demoUrl}
              githubUrl={project.githubUrl}
              alt="temp"
            />
          ))
        }
      </ul>
    </ContentSection>

    <ContentSection
      id="section-contact"
      title="Connect with me!"
      colour="light"
    >
      <SocialMedia />
    </ContentSection>
  </main>
</Layout>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
</style>
