---
import Layout from '../layouts/Layout.astro'
import ContentSection from '../layouts/ContentSection.astro'

import ToolCard from '../components/ToolCard.svelte'
import ProjectCard from '../components/ProjectCard.astro'
import Scrollbar from '../components/Scrollbar.svelte'
import BackgroundTexture from '../components/BackgroundTexture.svelte'

import { projects, tools } from '../components/DisplayData'
---

<Layout title="Personal website">
  <BackgroundTexture client:load />
  <main class="flex flex-col gap-24">
    <!-- <Scrollbar client:only /> -->
    <section class="relative flex flex-row items-center justify-center bg-violet-600 py-24">
      <div class="h-64 w-96 rounded-l-md p-4 text-white">
        <h1 class="pb-4 text-4xl font-bold">Hi! I'm Honza!</h1>
        <p class="text-xl">I'm a software developer.</p>
      </div>
      <img
        class="z-20 w-72 rounded-md"
        src="profile.jpg"
      />
      <div class="absolute right-0 h-full w-[38vw] bg-amber-300"></div>
    </section>

    <ContentSection title="The tools I use" colour="light">
      <ul class="flex flex-row flex-wrap justify-center gap-4">
         {
          tools.map((tool) => (
            <ToolCard
            client:load
              title={tool.title}
              text={tool.text}
              image={tool.img}
              alt=""
            />
          ))
        }
      </ul>
    </ContentSection>

    <ContentSection title="The things I've built" colour="dark">
      <ul class="flex flex-col items-center gap-8 xl:px-48">
        {
          projects.map((project) => (
            <ProjectCard
              index={projects.indexOf(project)}
              title={project.title}
              text={project.text}
              img={project.img}
            />
          ))
        }
      </ul>
    </ContentSection>

    <!-- <ContentSection title="Coursework">
      <ul class="flex flex-row flex-wrap justify-center gap-4">
        {
          coursework.map((project) => (
            <ProjectCard
              index={coursework.indexOf(project)}
              title={project.title}
              text={project.text}
              img={project.img}
            />
          ))
        }
      </ul>
    </ContentSection> -->
  </main>
</Layout>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
</style>
