---
import Layout from '../layouts/Layout.astro'
import ContentSection from '../layouts/ContentSection.astro'
import SocialMedia from '../components/SocialMedia.astro'

import PageHeader from '../components/PageHeader.svelte'
import ToolScrollbar from '../components/ToolScrollbar.svelte'
import ProjectCard from '../components/ProjectCard.svelte'
import Scrollbar from '../components/Scrollbar.svelte'
// import BackgroundTexture from '../components/BackgroundTexture.svelte'

import { projects } from '../components/DisplayData'
---

<Layout title="Personal website">
  <PageHeader client:only />
  <!-- <BackgroundTexture client:load /> -->
  <main class="flex flex-col">
    <!-- <Scrollbar client:only /> -->
    <section
      id="section-hello"
      class="relative flex flex-row items-center justify-center bg-violet-600 py-24"
    >
      <div class="h-64 w-96 rounded-l-md p-4 text-white">
        <h1 class="pb-4 text-4xl font-bold">Hi! I'm Honza!</h1>
        <p class="text-xl">I'm a software developer.</p>
      </div>
      <img
        class="z-20 w-72 rounded-md"
        src="profile.jpg"
      />
      <div class="absolute right-0 h-full w-[38vw] bg-amber-300"></div>
    </section>

    <ContentSection
      id="section-tools"
      title="The tools I use"
      colour="light"
    >
      <ToolScrollbar client:load />
    </ContentSection>

    <ContentSection
      id="section-projects"
      title="The things I've built"
      colour="dark"
    >
      <ul
        class="flex flex-col items-center gap-16 px-20 py-10 md:gap-44 lg:px-40 xl:gap-16 xl:px-[8vw]"
      >
        {
          projects.map((project) => (
            <ProjectCard
              client:visible
              index={projects.indexOf(project)}
              title={project.title}
              text={project.text}
              img={project.img}
              tools={project.tools}
              demoUrl={project.demoUrl}
              githubUrl={project.githubUrl}
              alt="temp"
            />
          ))
        }
      </ul>
    </ContentSection>

    <ContentSection
      id="section-contact"
      title="Connect with me!"
      colour="light"
    >
      <SocialMedia />
    </ContentSection>

    <!-- <ContentSection title="Coursework">
      <ul class="flex flex-row flex-wrap justify-center gap-4">
        {
          coursework.map((project) => (
            <ProjectCard
              index={coursework.indexOf(project)}
              title={project.title}
              text={project.text}
              img={project.img}
            />
          ))
        }
      </ul>
    </ContentSection> -->
  </main>
</Layout>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
</style>
