---
import linkedinIcon from '../assets/linkedin.svg'

const socialMediaIcons = [
  { img: 'Github.svg', alt: 'GitHub', url: 'https://github.com/Jkuzz' },
  { img: linkedinIcon, alt: 'LinkedIn', url: 'https://www.linkedin.com/in/jkuzz/' },
]
---

<!-- <img
  class="w-16 fill-violet-600"
  src={icon.img}
  alt={icon.alt}
/> -->
<div class="flex flex-row justify-center gap-4">
  {
    socialMediaIcons.map((icon) => (
      <a
        target="_blank"
        href={icon.url}
      >
        <img
          src={linkedinIcon}
          alt={icon.alt}
        />
      </a>
    ))
  }
</div>
